main#info {
  margin-bottom: 2rem;
  border: solid 0.5rem #f0f0f0;
}

:is(#info_header, #info_footer) {
  padding: 0.5rem;
  color: white;
  background-color: #5a9674;
}

#caution {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.2;
  color: #ff0000;
  border-top: solid 0.2rem #808080;
  border-bottom: solid 0.2rem #808080;
  padding: 0.5rem 2rem;
  margin-top: 0.5rem;
}

#unread_num {
  text-align: right;
  font-weight: bold;
  margin: 0.5rem 0 1rem;
}

.exmark {
  display: inline-block;
  text-align: center;
  background-color: #cc0a0b;
  border-radius: 50%;
  color: #ffffef;
  font-size: 0.64rem;
  width: 1rem;
}

#unread_num .exmark {
  vertical-align: top;
}

#info_list {
  margin: 0.5rem 0.5rem 1rem;
}

#info_list > div {
  background-color: #d2fbaf;
  margin-bottom: 0.2rem;
  padding: 0.5rem;
}

.record {
  display: grid;
  grid-template-columns: 2rem 1fr 1fr 1fr 1rem;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.date {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  font-size: 0.75rem;
}

.from {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  font-size: 0.75rem;
}

.imp {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  font-weight: bold;
  color: #ff0000;
}

.tri {
  grid-column: 5 / 6;
  grid-row: 1 / 3;
  width: 0.4rem;
  height: 0.75rem;
  background-color: #8c8a8c;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  justify-self: right;
}

.mark {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.subject {
  grid-column: 2 / 5;
  grid-row: 2 / 3;
  font-weight: bold;
}

#control {
  margin-left: 1rem;
  margin-bottom: 0.2rem;
}

.info_btn {
  display: inline-block;
  font-weight: bold;
  font-size: 0.75rem;
  background-color: #b3f76b;
  border: solid 0.2rem #5a9674;
  border-radius: 0.7rem;
  padding: 0.5rem;
}

#info_footer span {
  background-color: white;
  border-radius: 50%;
  color: #33485e;
  margin-left: 0.5rem;
}
