main#career {
  margin-bottom: 2rem;
  border: solid 0.5rem #f0f0f0;
}

:is(#career_button, #career_calendar, #career_ranking, #career_memo) {
  padding: 0.5rem;
  border: solid 0.1rem #f0f0f0;
  background-color: #cad9e6;
}

:is(#career_header, #career_footer) {
  padding: 0.5rem;
  color: white;
  background-color: #5a9674;

}
#calendar_table {
  width: 100%;
  border-collapse: collapse;
}
#calendar_table th,
#calendar_table td {
  border: 1px solid #000;
  width: 14.28%; /* 7列なので、100%を7で割る */
  height: 80px; /* セルの高さを調整 */
  text-align: center;
  vertical-align: top;
  padding: 5px;
  box-sizing: border-box;
}
#calendar_table .calendar-day {
  cursor: pointer;
}

#calendar th {
  background-color: #f0f0f0;
}

#calendar_header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; /* ヘッダーの高さを適宜調整 */
  font-size: 24px; /* フォントサイズを適宜調整 */
}

#calendar .today {
  background-color: #ffeb3b;
}

/*リンクの色・アンダーラインが出ないようにする*/
#career_ranking a {
  color: inherit;
  text-decoration: none;
}

#career_memo a {
  color: inherit;
  text-decoration: none;
}
