<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MUSESメニュー</title>
    <link href="index.css" rel="stylesheet" />
    <link href="memo.css" rel="stylesheet" />
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body @vue:mounted="init" v-cloak>
    <header>
      <figure id="logo">
        <img src="img/logo.png" />
      </figure>
      <div id="user_name"><img src="img/user_icon.png" />{{username}} さん</div>
      <div id="upper_menu">
        <div>
          <img src="img/pc_site.png" /><br />
          PC版
        </div>
        <div>
          <img src="img/timeout.png" /><br />
          残り<br />約40分
        </div>
        <div>
          <a href="login.html">
            <img src="img/logout.png" /><br />
            ログアウト
          </a>
        </div>
      </div>
      <!--ここから新着情報-->
      <div id="news">
        <div id="news_title"><img src="img/infoman.png" />新着情報</div>
        <div id="news_num">
          <img src="img/board.png" />未読掲示が {{unread}} 件 あります！
        </div>
      </div>
      <!--ここからパンくずリスト-->
      <div id="link">
        <div><a href="index.html">HOME &gt;</a></div>
        <div><a href="career.html">キャリア支援 &gt;</a></div>
      </div>
      <p>登録されていません</p>
    </header>
    <!--ヘッダ終わり-->

    <!--ここから本文-->
    <main id="info">
      <div id="info_header">　企業メモ</div>
      <div id="form">
        <label>企業名：<input v-model="name" /></label><br />
        <label>記入日：<input type="date" name="writeing" /></label><br />
        <label
          >メモ　：<textarea
            cols="35"
            rows="5"
            maxlength="500"
          ></textarea></label
        ><br />
        <button>お気に入り</button>
        <button>登録する</button>
      </div>

      <div id="info_list" v-if="displayedData.length">
        <div class="record" v-for="item in displayedData">
          <div class="date">記入日：{{item.date}}</div>
          <div class="name">企業名：{{item.name}}</div>
          <div class="favo">{{item.favo}}</div>
          <div class="tri">&nbsp;</div>
          <!--▶-->
          <div class="text">メモ内容：{{item.text}}</div>
        </div>
      </div>
      <div id="control">
        <div class="info_btn_a" @click="toggleFavorite">{{ buttonText }}</div>
        <div class="info_btn_b">メモ検索</div>
      </div>

      <div id="info_footer">　企業メモ</div>
    </main>
    <!--本文終わり-->

    <!--ここからフッタ-->
    <footer>
      <div id="link">
        <div><a href="index.html">HOME &gt;</a></div>
      </div>
      <p>Information</p>
      <div id="information"></div>
    </footer>
    <!--フッタ終わり-->

    <!--petite vueとmenu.jsの読み込み-->
    <script src="https://unpkg.com/petite-vue"></script>
    <script src="memo.js"></script>
  </body>
</html>
